html, body{
    width: 100%;
    font: 62.5%;
    margin: 0;
    padding: 0;
}

.lista{
    width: 100%;
    margin: 0;
    padding: 16px;          
    background-color: #162028;
    color: #425564;
    list-style: none;
    box-sizing: border-box;
    padding-bottom: .5em;
    display: flex;
    align-items: center;
    gap: 2em;
}

.lista li{
    text-transform: uppercase;
    margin-right: 32px;
}

#titulo{
    color: white;
    text-transform: capitalize;
    font-size: 32px;
    margin-left: 7em;
    margin-right: auto;
}

.imagem{
    background-image: url(imagens/topo.jpg);
    background-size: cover;
    background-position: center;
    height: 673px;
    width: 100%;
}
/* HEADER FEITO */

section h1{
    padding-top: 2em;
    font-size: 32px;
    text-align: center;
}

section p{
    font-size: 18px;
    text-align: center;
    line-height: 2rem;
    max-width: 800px;     
    margin: 0 auto;       
    padding: 0 1rem;
    padding-bottom: 1.5rem;
}

.lista-models{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 5rem;
}

.lista-models li{
    text-align: center;
}

.item{
    width: 250px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.item-nome{
    color: black;
    font-size: 16px;
    margin-top: 8px;
    text-transform: uppercase;
}

.imagem2{
    background-image: url(imagens/bg_detalhe.png);
    background-size: auto;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #003d52;
    height: 673px;
    width: 100%;
}

.imagem2 .conteudo {
    padding-left: 27em;
    padding-top: 10em;
}

.imagem2 h1{
    font-size: 48px;
    text-align: left;
    text-transform: uppercase;
    color: white;
    margin: 0;
    max-width: 900px;
    padding-bottom: 2rem;
    line-height: 4rem;
}

.imagem2 p{
    font-size: 18px;
    text-align: left;
    color: white;
    padding-right: 5em;
    max-width: 750px;
    line-height: 1.8rem;
    bottom: 0;
}
/* MAIN FEITO */

footer{
    background-color: #0b171f;
    text-align: center;
    color: #6f8597;
    font-size: 18px;
    padding: 2px;
}
/* FOOTER FEITO  */




